body{
    background-color: rgb(104, 204, 230);
}
h1{
    color: rgb(16, 63, 107);
}
.image-responsive{
    height: 300px;
    width: 350px;
    text-align:center;
}
b{
    font-size: 20px;;
    color:magenta
}
h5{
    color:mediumpurple;
    font-size: 18px;
}

#C
{
    color: black;
    font-weight:bold;
    background-color:crimson;
}